.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-right: 6rem;
  background-color: #E9E9E9;
  border-radius: 4px;
  width: 40%;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: #CFF57F;
  padding: 1px;
}

.text {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .card {
    width: 80%; /* Adjust the width for smaller screens */
    margin-right: 0;
    background-color: #E9E9E9;
  }
  
  .logo {
    width: 32px; /* Adjust the size for smaller screens */
    height: 32px;
  }

  .text {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
}
